.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: deeppink 2px solid;
}

.error-message {
  color: pink;
}

.active-filter {
  background-color: yellow;
}
.is-done {
  opacity: 38%;
}